__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.idea/
.DS_Store
Thumbs.db
*.tmp
*.log
*.fits
*.result

out_lisa_analysis/
out_lisa_data_peak_mark/
out_lisa_edge_sweep/
out_lisa_injection_stats/
out_lisa_injection_test/
out_lisa_mc_significance/
out_lisa_mc_snr/
out_lisa_refine_noisecheck/
out_lisa_scan/
